@import '@/src/mixins.scss';

.steplist__item {
    color: var(--color-softwhite);
    font-size: 1.8rem;
    font-weight: bold;
    font-family: var(--alternate-font-style);
    letter-spacing: 2%;
    line-height: 2.4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;


    label {
      display: flex;
    }

    a {
    transition: all .25s ease;
    padding: 0.5rem;
    }

   a:hover {
    color: white;
  }

      a:focus-visible {
        outline: 3px dashed white
    }

    &--white {
        color: white
    }


    input[type="checkbox"] {
      height: 25px;
      width: 25px;
      appearance: none;
      margin-right: 1.4rem;
      cursor: pointer;
      border: 2px solid currentColor;
      border-radius: 5px;
      position: relative;

      &:checked::before {
        content: '';
        padding: 1px;
        border-radius: 2px;
        position: absolute;
        background-color: white;
        width: 11px;
        height: 11px;
        margin: 0 auto;
        top: 48%;
        left: 49%;
        transform: translate(-50%, -50%);
      }
    }

    @include desktop-down {
      font-size: 1.4rem;

      input[type="checkbox"] {
        margin-right: 0.7rem;
      }
    }

 }


